.container {
  background-color: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 50%;
  width: 50px;
}
.container > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
  padding-right: 20px;
}
.container > ul > li {
  list-style: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.container > ul > li:hover {
  cursor: pointer;
  scale: 1.5;
}

.active {
  scale: 2;
}
