.main {
  background: linear-gradient(0deg, #39518a 0%, #0c1c3d 100%);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
}

.mainText {
  width: 400px;
}

.mainTexth1 {
  color: white;
  font-size: 40px;
  letter-spacing: 10px;
  text-align: left;
  animation: h3intro 2s ease-in-out 0s 1;
  transition: all 0.8s ease-in-out;
}

.mainTexth1:hover {
  scale: 1.2;
  transform: translateX(40px);
  letter-spacing: 15px;
}

.scrollBtn {
  background-color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  animation: pulsingButton 2s infinite ease-in-out;
  transition: 0.2s all ease-in-out;
  z-index: 0;
}

.scrollBtn:hover {
  cursor: pointer;
  background-color: rgb(159, 159, 159);
}

/* @keyframes pulsingButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
} */

@keyframes h3intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
